form{
    margin-left:35%;
    background-color: aqua;
    width: 35%;
    

}
h1 {
    font-weight: 400;
    line-height: 1.2;
    margin-left:35%;
  }
p {
    font-weight: 400;
    line-height: 1.2;
    margin-left:0%;
}

body {
    text-align: left;
    background-color: antiquewhite;
   
}
#description{
    margin-left:35%;
}
 